<launch>

    <node name="twist_to_pwm_node" pkg="wheel_controller" type="twist_to_pwm_node" output="screen"/>

    <node name="twist_to_action_node" pkg="wheel_controller" type="twist_to_action_node" output="screen"/>

    <node name="action_to_twist" pkg="wheel_controller" type="action_to_twist_node" output="screen"/>

<node name="serial_node" pkg="rosserial_python" type="serial_node.py" >
        <param name="~port" type="String" value="/dev/ttyACM0"/>
    </node>

</launch>
